<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="mvnProject" verbose="1" parallel="false">
<listeners>
       <listener class-name="com.mvnProject.util.testListener"/>
       <listener class-name="com.mvnProject.ExtendReportListener.ExtentReporterNG"/>
  </listeners>
  <test name="mvnProjectTest" >
  	<classes>
  	
      
      <class name = "com.mvnProject.testcases.LoginPageTest"/>
         <class name = "com.mvnProject.testcases.HomePageTest"/>
        <class name = "com.mvnProject.testcases.ContactsPageTest"/>
         <class name = "com.mvnProject.testcases.NewContactPageTest"/>
    
      
        
    </classes>
  </test>
 

</suite>
